/* Camera Info */
#cam-info {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #f0f0f0; /* light gray */
    color: #000;
    font-family: monospace;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 150px; /* Fixed width */
  }
  

  #view-info {
    position: absolute;
    top: 125px;
    left: 25px;
    background: #f1c6c6; /* light gray */
    color: #000;
    font-family: monospace;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 150px; /* Fixed width */
  }


  /* Controls container */
  #controls-container {
    position: absolute;
    top: 225px;  /* Position controls under the camera info */
    left: 25px; /* Align with cam-info */
    background: #cbddf8;
    color: #000;
    font-family: monospace;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 150px; /* Match width of cam-info */
  }
  

   /* Rain container */
   #rain-container {
    position: absolute;
    top: 335px;  /* Position controls under the camera info */
    left: 25px; /* Align with cam-info */
    background: #b1ddbc;
    color: #000;
    font-family: monospace;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 150px; /* Match width of cam-info */
  }



  .control-key{
    color: red;
    font-family: monospace;
    font-size: 8px;
  }

  /* Control item */
  .control-item {
    margin-bottom: 8px; /* Reduce bottom margin */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  
  /* Control item spans */
  .control-item span {
    display: inline-block;
    font-weight: normal; /* Keep font normal for values */
  }
  
  /* Display values (bold text) */
  #axes-status, #step-size-display, #rotate-status, #rain-status, #drops-count, #rafale-drops, #rafale-drops-max, #rafale-milisec {
    /* font-weight: bold; */
    color: blue;  /* Slightly darker color for readability */
  }


